html {
    height: 100%;
    overflow: hidden;
  }
body {
    overflow:hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(61, 58, 58);
} 

header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding:2%;
    background-color: rgb(209, 173, 106);
}
main{
    height: 100%;
    overflow:auto;
}
.logo{
    height:100%;
    position:absolute;
    top:0;
    left:0;
    mix-blend-mode: multiply;
}
.logo:hover{
    cursor: pointer;
}

.links{
    list-style: none;
}

.links li {
    display: inline-block;
    height:10%;
    margin:0
}
.simon{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:10px;
    height:80%;
    
}

.simon div {
    padding:0;
    margin:0;
}

#one{   
    background-color: rgb(114, 114, 40);
    transition-duration: 0.3s;
}
#two{
    background-color: darkgreen;
    transition-duration: 0.3s;
}
#three{
    background-color: darkred;
    transition-duration: 0.3s;
}
#four{
    background-color: darkblue;
    transition-duration: 0.3s;
}
#one:hover{
    background-color: yellow;
    cursor: pointer;
}#two:hover{
    background-color: rgb(79, 228, 79);
    cursor: pointer;
}#three:hover{
    background-color: red;
    cursor: pointer;
}#four:hover{
    background-color: blue;
    cursor: pointer;
}
#one.active{
    background-color: yellow;
    pointer-events: none;
}
#two.active{
    background-color: rgb(79, 228, 79);
    pointer-events: none;
}
#three.active{
    background-color: red;
    pointer-events: none;
}
#four.active{
    background-color: blue;
    pointer-events: none;
}

.simonsbutton[beeping]{
    pointer-events: none;
}

.life{
    height: 20px;
    width: 20px;
    background-color: red;
    margin-right: 2px;
    display: inline-block;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 300ms;
  }
button:hover{
    background-color: pink;
    border-radius: 25%;
    cursor: pointer;
}

button[disabled]{
    pointer-events: none;
    background-color: grey;
}

.scores p{
    padding:0;
    margin:0;
}


